.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# FanMaker Configuration
Sources/FanMaker/FanMakerConfig.plist
**/FanMakerConfig.plist
